.new-product {
  flex: 4;
}

.new-product-title {
}

.new-product-form {
  margin-top: 10px;
}

.new-product-form-item {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.new-product-form-item > label {
  font-weight: 600;
  color: gray;
  margin-bottom: 10px;
}

.new-product-form-item > input {
  padding: 10px;
}

.new-product-select {
  padding: 10px;
}

.new-product-button {
  margin-top: 10px;
  padding: 7px 10px;
  border: none;
  border-radius: 5px;
  background-color: darkblue;
  color: white;
  cursor: pointer;
}
