.widget-small {
  flex: 1;
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.49);
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.26);
  padding: 20px;
  margin-right: 20px;
}
.widget-small-title {
  font-size: 22px;
  font-weight: 600;
}

.widget-small-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.widget-small-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
}

.widget-small-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.widger-small-user {
  display: flex;
  flex-direction: column;
}

.widget-small-username {
  font-weight: 600;
}

.widget-small-jobtitle {
  font-weight: 300;
}

.widget-small-button {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 10px;
  padding: 8px 10px;
  background-color: #eeeef7;
  color: #555;
  cursor: pointer;
}

.widget-small-icon {
  font-size: 16px !important;
  margin-right: 5px;
}
