.new-user-page {
  flex: 4;
}

.new-user-title {
}

.new-user-form {
  display: flex;
  flex-wrap: wrap;
}

.new-user-form-item {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 20px;
}

.new-user-form-item > label {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  color: gray;
}

.new-user-form-input {
  height: 20px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

.new-user-gender > input {
  margin-top: 15px;
}

.new-user-gender > label {
  margin: 10px;
  font-size: 18px;
  color: #555;
}

.new-user-select {
  height: 40px;
  border-radius: 5px;
}

.new-user-button {
  width: 200px;
  border: none;
  background-color: darkblue;
  color: white;
  padding: 7px 10px;
  font-weight: 800;
  border-radius: 10px;
  margin-top: 30px;
  cursor: pointer;
}
